{% load static %}
<html>
<head>
    <link rel="stylesheet" href={% static 'css/index.css' %}>
</head>
<body onload="pagestartup();">
<h2>{{ status }}</h2>
<div class="content">
    <div class="title">CREATE YOUR OWN STORY</div>
    <div class="title">SIGN IN</div>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form }}
    </form>
    <div>
        <p>Haven't registered?<a class="ml-2" href="{% url 'register'  %}">Sign Up</a></p>
    </div>
</div>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>