{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V18</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- Custom styles for this template -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">



	<link rel="icon" type="image/png" href="{% static '' %}"/>

	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>



<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{% url 'blog' %}">BACK</a>
      </div>
    </nav>

<!-- form  -->

	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					Create Your Story
				</span>

                <div class="wrap-input100 validate-input" data-validate = "required">
					<label class="label-input100" for="id_title">Title</label>
					<input id="id_title" class="input100" maxlength= "250" type="text" name="title" placeholder="Enter the title of your story.">
					<span class="focus-input100"></span>
				</div>

                <div class="wrap-input100 validate-input" data-validate = "required">
					<label class="label-input100" for="id_subtitle">Subtitle</label>
					<input id="id_subtitle" class="input100" type="text" name="subtitle" placeholder=" Enter short description">
					<span class="focus-input100"></span>
				</div>

              <div class="wrap-input100 validate-input" data-validate = "required">
                   <label class="label-input100" for="id_slug">Slug</label>
                   <input id="id_slug" class="input100" type="text" name="subtitle" placeholder=" ">
                   <span class="focus-input100"></span>
              </div>

              <div class="wrap-input100 validate-input" data-validate = "required">
					<label class="label-input100" for="id_author">Author</label>
					<!--<input id="id_author" class="input100" type="text" name="author" placeholder=" Enter your name">-->
                    <select>
                      <option value="" selected>---------</option>
                      <option value="1">admin</option>
                    </select>

                  <a class="related-widget-wrapper-link change-related" id="change_id_author"
                      data-href-template="/admin/auth/user/__fk__/change/?_to_field=id&amp;_popup=1"
                      title="Change selected user"><img src="/static/admin/img/icon-changelink.svg" alt="Change"></a><a class="related-widget-wrapper-link add-related" id="add_id_author"
                      href="/admin/auth/user/add/?_to_field=id&amp;_popup=1"
                      title="Add another user"><img src="/static/admin/img/icon-addlink.svg" alt="Add"></a>

                  <span class="focus-input100"></span>
              </div>



				<div class="wrap-input100 validate-input" data-validate = "required">
					<label class="label-input100" for="message">Content</label>
					<textarea id="message" class="input100" name="message" placeholder="Tell your story"></textarea>
					<span class="focus-input100"></span>
				</div>



                <div class="wrap-input100 validate-input" data-validate = "required">
					<label class="label-input100" for="id_author">Author</label>
					<!--<input id="id_author" class="input100" type="text" name="author" placeholder=" Enter your name">-->
                    <select>
                        <option value="Published">Published</option>
                        <option value="Draft" selected>Draft</option>
                    </select>
                </div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						Save
					</button>
				</div>

				<div class="contact100-form-social flex-c-m">
					<a href="#" class="contact100-form-social-item flex-c-m bg1 m-r-5">
						<i class="fa fa-facebook-f" aria-hidden="true"></i>
					</a>

					<a href="#" class="contact100-form-social-item flex-c-m bg2 m-r-5">
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</a>

					<a href="#" class="contact100-form-social-item flex-c-m bg3">
						<i class="fa fa-youtube-play" aria-hidden="true"></i>
					</a>
				</div>
			</form>

			<div class="contact100-more flex-col-c-m" style="background-image: url({% static 'Images/bg-01.jpg'%})">
			</div>

		</div>
	</div>


	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>


